
body{
  margin: 0;
}

.page{
  background-image:url("/assets/images/cielo.jpg");
  background-size: cover;
  height: 100vh;
}
.button-container{
  padding-top: 100px;
}

.here{
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 50px;
}
