@import 'core/settings';

body {
  margin: 0;
  height: 100vh;
}
.page{
  height: 100vh;
  background-color: aqua;
}
.title:after{
  content:"\f1e0";
  position: absolute;
  font-weight: 900;
}

.fill{}

.button{}

.space-series{
  background-color: papayawhip;
  height: 100%;
  width:100%;
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  }


.serie-space{
  background-color: orange;
  width: 360px;
  margin: 20px;
	float: left;
}

.favourite-Space{
  background-color: palevioletred;
}

// estilos de elementos creados en JavaScript
.serie{
  background-color: pink;
  width: 300px;
  margin-top: 20px;
  list-style: none;
}

.space-title{
  color: white;
  width: 300px;
}

.noLike{
  background-color: palegreen;
}

.reference{
  display: none;
}

.like{
  background-color: rgb(190, 27, 62);
}

.space-image{

}

.heart{
}


