@import 'core/settings';

body {
  margin: 0;
  height: 100vh;
}
.page{
  height: 100vh;
  background-color: aqua;
}
.title{}

.fill{}

.button{}

.space-series{
  background-color: papayawhip;
  height: 100%;
}


