@import 'core/settings';

body {
  margin: 0;
  height: 100vh;
}
.page::after{
  height: 100vh;
  background-color: aqua;
}
.title{
}

.fill{}

.button{}

.space-series{
  background-color: papayawhip;
  height: 100%;
}

.serie-space{
  background-color: orange;
  width: 360px;
}

// estilos de elementos creados en JavaScript
.serie{
  background-color: pink;
  width: 300px;
  margin-top: 20px;
  list-style: none;
}

.space-title{
  color: white;
  width: 300px;
}

.noLike{
  background-color: palegreen;
}

.reference{
  display: none;
}

.like{
  background-color: rgb(190, 27, 62);
}

.space-image{

}

.heart{
}


