<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FiveDrops</title>
  <script src="https://kit.fontawesome.com/e88553efaf.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/_src/assets/scss/main.scss">
</head>
<body>
  <h1 class="title">Buscador de series</h1>
  <div class="Search-Space-title">Tu búsqueda</div>
  <div class="space-series"></div>
</body>
</html>
