<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Series search</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/info.css"/>
</head>
<body class="body">
  <div class="page">
      <!-- <h1 class="title">Buscador de series</h1> -->
      <!-- <div class="favourite-Space"></div> -->
  </div>
  <script src="https://kit.fontawesome.com/ea09b53637.js"></script>
  <script src="assets/js/info.js"></script>
</body>
</html>
